{% extends 'base.html.twig' %}

{% block body %}
    <div class="span2"></div>
    <div class="span8">

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ form_start(form, {'attr': {'class': 'form-horizontal ajax-form', 'novalidate': 'novalidate' }}) }}
                <div class="alert alert-error" style="display:none;"></div>
                <div class="control-group">
                    {{ form_widget(form.post) }}
                </div>
                <div class="control-group">
                    <button type="submit" class="btn btn-primary">Отправить сообщение</button>
                </div>
            {{ form_end(form) }}
        {% else %}
            <p>
                <a class="brand" href="/login">Войдите</a> или <a class="brand" href="/reg">зарегистрируйтесь</a>, чтобы добавить сообщение.
            </p>
        {% endif %}

        {% for post in posts %}
            <div class="well">
                <h5>{{ post.username }}: <small> {{ post.created_at|date("Y-m-d H:i:s") }}</small></h5>
                {{ post.post }}
            </div>
        {% else %}
            <div class="well empty">
                Пока нет сообщений...
            </div>
        {% endfor %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock %}