{% extends 'base.html.twig' %}

{% block navbar %}
    <ul class="nav">
        <li><a href="/">Главная</a></li>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == '' %}
            <li><a href="/login">Авторизация</a></li>
            <li class="active"><a href="/reg">Регистрация</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}
    <div class="span4"></div>
    <div class="span8">
        <div class="control-group">
            <b>Регистрация</b>
        </div>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="control-group">
            {{ form_widget(form.username) }}
            <span class="help-inline"></span>
        </div>
        <div class="control-group">
            {{ form_widget(form.plainPassword.first) }}
            <span class="help-inline"></span>
        </div>
        <div class="control-group">
            {{ form_widget(form.plainPassword.second) }}
            <span class="help-inline"></span>
        </div>
        <div class="control-group">
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock %}